
    
language: python
python:
  - "3.5"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coverage==4.3
  - pip install pandas
  - pip install xlrd
  - pip install matplotlib
  - pip install codeclimate-test-reporter


script:
  - echo $CC_TEST_REPORTER_ID
  - export PYTHONPATH=$PYTHONPATH:$(pwd)
  - pwd
  - cd Function
  - python Run_Pipline.py
  - bash Running_Function.sh
  - cd ..

git:
  depth: 2
  

notifications:
  email:
    recipients:
   #   - prithvisekhp@xxx.com #default sends to registered email
    on_success: always
    on_failure: always
